<!DOCTYPE html>
<html>
	<head>
		<title> COYOTE_QUIZ </title>
		
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE-edge"/>
		<meta name="viewpiort" content="width=device-width, initial-scale=1"/>
		
		<link href="../Documents/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
		<link rel="shortcut icon" href="../Sources/Resources/prepa 6.jpg" type="image/png"/>
		<link href="../Style/stylemain.css"  rel="stylesheet" type="text/css">
		
		<script src="../Documents/jquery.js"></script>
		<script src="../Documents/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="main.js"></script>
	
	</head>
	<body>
		<div class="container">
			<div id="cuadro" class="row">
				<div> <h3> Modo de juego: </h3> </div>
				<ul class="nav nav-pills">
					<li><a href="#" id="aleat" class="active"> Jugador aleatorio </a></li>
					<li><a href="#" id="select" class="active"> Seleccionar amigo </a></li>
				</ul>
			</div>
		</div>
			<div id="u"></div>
				<script>
					$("a").click(function(){
						$.ajax({
							url: "aleatorio.php",
							data: {
								id: this.id,
							},
							type: "POST",
							dataType: "text",
							success: function(id){
								console.log("Hecho");
								$("#u").html(id);
							}
						});
					});
				</script>
			<p></p>
	</body>
</html>